.printed {
  font-size: 11pt;
  font-family: "TT2020", monospace;
  @apply max-w-[7in] leading-snug mx-16 text-black bg-white;
}

.printed s {
  @apply text-transparent bg-black;
}

.printed section {
  @apply ml-4 pl-4;
}

.printed dl {
}

.printed dl li {
  list-style: none;
}

.printed dt {
  @apply font-bold inline-block mr-2;
}
.printed dd {
  @apply inline-block;
}

.printed ol {
}

.printed h1 {
  @apply text-3xl text-center font-bold;
}

.printed h2,
.printed h3,
.printed h4 {
  @apply font-bold mt-0;
}

.printed ol {
  list-style: decimal;
  list-style-position: inside;
}
