.room-screen {
  @apply max-w-xl w-full p-4 pt-16;
}

.text-inverse {
  @apply text-black mix-blend-lighten shadow-green-500 bg-green-500 drop-shadow-glow;
  text-shadow: none;
}

.prose {
  @apply text-sm space-y-4;
}

.prose h1 {
  @apply text-2xl;
}

.prose h2 {
  @apply text-xl;
}

.prose h3 {
  @apply text-lg;
}

.prose h4 {
  @apply text-md;
}

.prose ol {
  list-style: decimal;
  list-style-position: inside;
}
