html {
  @apply bg-zinc-900 text-green-500 font-terminal;
  @apply w-full h-full text-lg select-none;
  @apply leading-relaxed;
  font-size: 18px;
}

* {
  cursor: none;
  user-select: none;
}

button {
  @apply text-center p-1 border-t border-green-500 hover:bg-green-500/5 active:bg-green-500/10 outline-none;
}

hr {
  @apply my-2;
}
